# IntelliJ / Android Studio
.idea/
*.iml

# Gradle
.gradle/
build/
local.properties

# Configurações sensíveis
apikey.properties

# MacOS
.DS_Store

# Android generated
captures/
.externalNativeBuild/
.cxx/
